# Rust
/target/
**/*.rs.bk

# Englist
/a.out
/*.c
/net
/net.c
/*.dSYM/
/.ving_modules/
/eng.toml
/src/
/rt/*.o
/rt/*.d

# Build Artifacts
docs/_build/
docs/_site/
*.pdf


# Build Artifacts
*.out
out_*
bench_out/
*.dSYM/

# Python scripts
*.py

# Shell scripts
*.sh

# Logs
*.log

# Test Scripts
test_*.ving

# Modules
/.eng_modules/
/.ving_modules/

# OS
.DS_Store
